<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/normalize.css">

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="../public/css/application.css">
  <link rel="stylesheet" href="../public/css/magic.css">
  <!-- <link href="https://css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet"> -->
  <!-- <script src="jquery-1.12.2.min.js"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <script src="../public/js/application.js"></script>
  <script src="../public/js/konami.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj9yUP6BgnHAX-qFkkEQDmgce9hB_vpuo&callback=initMap"
  async defer></script>
  <title>A Wiki in Time</title>
</head>
<body>
  <div id='header'>
    <div class='header-div'><a href='/front-end/views'>A</a></div> &nbsp;&nbsp;<div class='header-div' id='wiki-header'><a href='/front-end/views'>Wiki</a></div> &nbsp;&nbsp;<div class='header-div'><a href='/front-end/views'>in</a></div> &nbsp;&nbsp;<div class='header-div'><a href='/front-end/views'>Time</a></div>
  </div>

  <div id='map-container'>
    <div id="map">
    </div>
  </div>

  <div id='slider-range'>
<!--   <form id='slider-form' method='post' action='/slider'>
  <label for='date'>Date:</label>
  <input type='range' name='date' id='date-slider' value='1800' min='1600' max = '2000'>
</form> -->
</div>
<form id='input-data' action='localhost:3000/query' method='post'>
  <div id='event-type'>
    <label>Event Type: </label>
    <select name='type'>
      <option value="battles">Battles</option>
      <option value='archaeological_sites'>Archaeological Sites</option>
      <option value='assassinations'>Assassinations</option>
      <option value='natural_disasters'>Natural Disasters</option>
      <option value='explorers'>Explorers</option>
      <option value='other'>Other</option>

    </select>
  </div>
  <div>
    <label>Within: </label>
    <input type="radio" name="year_range" value="5" checked> 5 years
    <input type="radio" name="year_range" value="20"> 20 years
    <input type="radio" name="year_range" value="50"> 50 years
    <input type="radio" name="year_range" value="100"> 100 years
  </div>
  <div>
    <label>And: </label>
    <input type="radio" name="radius" value="10" checked> 10km
    <input type="radio" name="radius" value="50"> 50km
    <input type="radio" name="radius" value="100"> 100km
    <input type="radio" name="radius" value="300"> 300km
  </div>
  <div>
    <label>Of: </label>
    <div id='textInput'>
      Slide to Select Year
    </div>
    <div>
      2000 BC <input type="range" name="date" id='date-slider' value='1861' min='-2000' max='2000' onchange="updateTextInput(this.value);"> 2000 AD
    </div>
  </div>
  <input id='lat-input' type='hidden' name='lat' value=''></input>
  <input id='long-input' type='hidden' name='long' value=''></input>
  <input id='polygon-input' type='hidden' name='polygon' value=''></input>
  <input id='submit-button' type="submit" name="Submit" value="Submit!">

<button id='polygon-mode'>POLYGONMODE</button>
<button id='reset-button'>RESET</button>
</form>
<div id='polygon-container'>
  <div>
  </body>
  </html>
