<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/normalize.css">

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="../public/css/application.css">
  <!-- <link href="https://css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet"> -->
  <!-- <script src="jquery-1.12.2.min.js"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <script src="/public/js/application.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj9yUP6BgnHAX-qFkkEQDmgce9hB_vpuo&callback=initMap"
  async defer></script>
  <title></title>
</head>
<body>

  <div id='header'>
  </div>

  <div id='map-container'>
    <div id="map">
    </div>
  </div>

  <div id='slider-range'>
<!--   <form id='slider-form' method='post' action='/slider'>
  <label for='date'>Date:</label>
  <input type='range' name='date' id='date-slider' value='1800' min='1600' max = '2000'>
</form> -->
</div>
<form id='input-data'>
  <div id='event-type'>
  <label>Event Type: </label>
    <select>
      <option value="battles">Battles</option>
    </select>
  </div>
  <div>
  <label>Within: </label>
  <input type="radio" name="year-range" value="5" checked> 5 years
  <input type="radio" name="year-range" value="20"> 20 years
  <input type="radio" name="year-range" value="50"> 50 years
  <input type="radio" name="year-range" value="100"> 100 years
  </div>
  <div>
    <label>Of: </label>
    <input type="range" name="date" id='date-slider' value='1000' min='0' max='2000' onchange="updateTextInput(this.value);">
  </div>
<div id='textInput'>
Slide to Select Year
</div>
<input type="submit" name="Submit" value="Submit!">
</form>
</body>
</html>
